body {
    font-family: "Courier New", Courier, monospace;
    background-color: #fff7f7;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
    background-color: #204969;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.info {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: white;
    padding-top: 25px;
    font-size: 30px;
}

.button {
    align-self: center;
}

div {
    text-align: center;
    font-size: 50px;
}

#navbar {
    overflow: hidden;
    background-color: #dadada;
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}


/* Navbar links */

#navbar a {
    display: inline-block;
    float: none;
    color: black;
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}