/* body {
    background-color: #204969;
} */

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    text-align: center;
    background-color: #204969;
}

.about {
    font-family: 'Courier New', Courier, monospace;
    text-align: center
}

.text {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
}

.info {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
}

.button {
    align-self: center;
}

div {
    text-align: center;
    font-size: 50px;
}