.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.hline-bottom {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}