.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}